@inherits LayoutComponentBase

<PageTitle>ECAN_INVOICE</PageTitle>

<div class="page">


    <main>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />

        <MudDialogProvider
    FullWidth="true"
    MaxWidth="MaxWidth.ExtraSmall"
    CloseButton="true"
    DisableBackdropClick="true"
    NoHeader="true"
    Position="DialogPosition.Center"
    CloseOnEscapeKey="true"
/>


        <MudLayout>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 col-lg-4">
                        <MudContainer Class="d-flex align-start justify-content-start mud-width-full ">
                            <MudImage Src="Images/LOGO.png" Style="height:70px" Class="img-fluid" />
                        </MudContainer>
                    </div>    
                    <div class="col-sm-6 col-xs-12 col-lg-4"></Div>
                    <div class="col-sm-6 col-xs-12 col-lg-4">
                        <MudContainer Class=" align-start justify-content-end mud-width-full ">

                            <div style="font-size:small;color:gray">
                                <MudIcon Icon="@Icons.Material.Filled.Language" Size="Size.Small" />
                                    <span style="margin-left:4px" >
                                        portalsupport@cma.or.ke</span>
                            </div>
                          <div style="font-size:small;color:gray;margin-top:4px">
                                <MudIcon Icon="@Icons.Material.Filled.Phone"  Size="Size.Small"/>
                                <span style="margin-left:4px" >
                                    020 2264400/0722 207767
                                </span>
                            </div>
                        </MudContainer>
                    </div>
                </div>

            </div>

            <MudMainContent Class="pt-0 px-0">
                <body style="background-color:ghostwhite;font-family:Calibri" class="content px-0">
                    @Body
                </body>
            </MudMainContent>
        </MudLayout>



    </main>
</div>



@code {
    bool open = true;

    DrawerClipMode clipMode = DrawerClipMode.Never;

    void ToggleDrawer()
    {
        open = !open;
    }
}


